@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background: linear-gradient(45deg, #ab315f, #8e133d);
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}
button[type="submit"],
button[type="button"] {
  background-color: var(--primary-color);
}

.p-float-label {
  input:focus,
  input.p-filled {
    ~ label {
      color: white !important;
    }
  }
}

.frontend-div {
  position: relative;
  .mask {
    background: #8e133d url(/frontend-bg.jpg) fixed center content-box no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
  }
}
